certifi==2026.6.17
cloudinary==1.45.0
deep_translator==1.11.4
fastapi==0.115.6
# faster_whisper==1.1.1
fitz==0.0.0
httpx==0.28.1
json_repair==0.63.2
langdetect==1.0.9
motor==3.7.1
moviepy==1.0.3
mutagen==1.47.0
numpy==2.4.6
opencv-python==5.0.0.93
opencv-python-headless==4.10.0.84
# paddleocr==3.7.0
Pillow==10.4.0
pydantic==2.10.6
pydantic-settings==2.7.0
pydub==0.25.1
pymongo==4.17.0
pytest==8.3.4
pytest-asyncio==0.25.0
python-magic==0.4.27
qrcode==8.2
scenedetect==0.6.4
starlette==0.41.3
# torch==2.13.0
# transformers==4.41.2